<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Create Customer</h1>
    <form action="/insertData" method="POST">
      <input type="text" name="name" placeholder="Enter name" />
      <input type="text" name="mobile" placeholder="Enter mobile" />
      <input type="text" name="email" placeholder="Enter email" />
      <input type="text" name="balance" placeholder="Enter balance" />
      <button type="submit">Create</button>
    </form>
</form>
</body>
</html>