<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to mybank</h1>
    <p style="color: red;">{{message}}</p>
    <form action="/adminDashboard" method="POST">
        <h3>Admin Login</h3>
        <input type="text" name="username" placeholder="enter username">
        <input type="text" name="password" placeholder="enter password">
        <button type="Admin Login">Submit</button>
    </form>
</body>
</html>
